@import "colors";

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

$ft-400: 1.4rem; // normal text
// TODO Add larger font size variables;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: $ft-400;
  background-color: $clr-primary-200;
  display: grid;
  place-items: center;
  font-family: $ft-primary;
  color: $clr-neutral-400;
}

h1,
h2,
h3 {
  font-family: $ft-secondary;
  color: $clr-neutral-600;
}

.card {
  max-width: 350px;
  margin-inline: auto;
  background-color: $clr-neutral-100;
  border-radius: 10px;
  overflow: hidden;
  line-height: 1.5;
  display: grid;
  //   flex-direction: column;
}

@media screen and (min-width: 50em) {
  .card {
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
    max-width: 550px;
  }
}

.product-details {
  padding: 2rem 2.9rem;
}

.product-type {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.2rem;
  margin-bottom: 0.875em;
}

.product-name {
  font-size: 2.8rem;
  line-height: 1;
  margin-bottom: 0.6em;
}

.product-desc {
  margin-bottom: 1.1em;
}

.product-price {
  display: flex;
  gap: 1.2em;
  align-items: center;
  margin-bottom: 1em;

  .new-price {
    font-size: 3.2rem;
    font-family: $ft-secondary;
    color: $clr-primary-700;
  }

  .old-price {
    text-decoration: line-through;
    font-size: 1.2rem;
  }
}

.btn {
  width: 100%;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  padding-block: 1em;
  border: 0;
  border-radius: 5px;
  background-color: $clr-primary-700;
  font-weight: $ft-weight-700;
  color: $clr-neutral-100;
  cursor: pointer;
  box-shadow: 0px 0px 5px $clr-primary-700;
}

.btn:hover {
  background-color: $clr-neutral-600;
}
